<h1>Swagger TypeScript Example</h1>
<table border="1">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Created At</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let pet of pets">
    <td>{{ pet.id }}</td>
    <td>{{ pet.name }}</td>
    <td>{{ pet.createdAt | date : 'short' }}</td>
    <td>
      <a href="#" (click)="loadDetail(pet)">Select</a>
    </td>
  </tr>
</table>

<h1>Selected Pets</h1>
<p>Number of selected pets: {{ selectedPets.length }}</p>
<p>Average Weight: {{ getAverageWeight(selectedPets) | number : '1.2-2' }} lbs</p>
<ul>
  <li *ngFor="let pet of selectedPets; let i = index;">
    {{ pet.name }}
    <a href="#" (click)="removeSelection(i)">Remove</a>
  </li>
</ul>
